/* & use h3 */
.products_container {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 80%;
    max-width: 1200px;
    margin: var(--spacing-large) auto;
}

.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

.product_card {
    box-shadow:  0 0 12px #CACBD5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}


.model_photo{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 270px;
    height: 100%
    position: relative;
}

.model_price {
    color: #D35E35;
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 2em;
}

.characteristics {
    color: #3D4251;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
}

.model_parametr {
    color: #666F88;
    font-size: 0.9em;   
    font-weight: bold;
    padding-right: 10px;
}

.order_button {
    background-color: #D35E35;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow:  0 0 5px #CACBD5;
    border:  none;
    border-radius: 3px;
    width: 9em;
    height: 2.6em;
}

