/*body {
  margin-top:2rem;
}
*/
h1 {
    color: #fff;
    font-size: 30px;
    /*margin-top: 5em;*/
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #D35E35;
    margin-bottom: 20px;
}

h3 {
    color: #3D4251;
    font-size: 1.1em;
    padding-top: 30px;
}

h4 {
    color: #fff;
    margin-bottom: 20px;
}

h5 {
    color: #D35E35;
    font-size: 1.3em;
    padding-top: 30px;
}


a {
    text-decoration: none;
    color: #3D4251;
}
a:hover{
    color: #D35E35;
    font-weight: 400;
}

.disabled{
    color: #D35E35 !important;
}

@media screen and (max-width: 600px) {
  .navbar-big {
    width: 101%;
    height: auto;
  }
}

/* Ancors floating */
/*#ac:after {
    display: block;
    content: "";
    margin: 0 -55px 0 0;
}*/


.table_price{
    border-radius: 5px;
    box-shadow:  0 0 12px #CACBD5;
    border: 1px solid #CACBD5;

}
.table_price th {
    background-color: #3D4251;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding: 20px;
}
.table_price td {
    border: 1px solid #CACBD5;
    padding: 20px;
    color: #3D4251;
    font-size: 0.9em;   
}


.text {
    color: #3D4251;
    font-size: 0.9em; 
}


.slider {
    width: 70%;
    margin-bottom: 10px;
}


@font-face {
    font-family: futuralight;
    src: url(../fonts/Montserrat-Bold.ttf);
}

.font3 {
    font-family: futuralight;
}

@font-face {
    font-family: Montserratlight;
    src: url(../fonts/Montserrat-Light.ttf);
}

.font4 {
    font-family: Montserratlight;
}

@font-face {
    font-family: rokkitt;
    src: url(../fonts/Rokkitt-VariableFont_wght.ttf);
}

.font5 {
    font-family: rokkitt;
}

@font-face {
    font-family: regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

.font6 {
    font-family: regular;
}

.item-list {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: black;
}




/* FOOTER */
.footer-links {
    list-style-type: none;
}

.footer-p{
    /*background-color: #F8F9FA;*/
}

.footer-p p {
    font-size: 14px;
    font-weight: 100;
    font-family: Montserratlight;
}

.footer-p a {
    color: inherit;
    text-decoration: inherit;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;

}

ul.breadcrumb li {
    display: inline;
    font-size: 12px;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px;
}



/* FORM with phone number */

.call_me_card {
    background-color: #D35E35;
    /*box-shadow:  0 0 12px #3D4251;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    text-align: left;
}

.call_me_button {
    background-color: #3D4251;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    /*box-shadow:  0 0 5px #e86c41;*/
    border:  none;
    border-radius: 3px;
    /*width: 9em;*/
    height: 40px;
    padding: 0 20px;
    margin: 10px;;
}
.call_me_button:hover {
    background-color: #666F88;
}
.call_me_button:active {
    background-color: #666F88;
}

.call_me_input {
    color: #3D4251;
    font-size: 1.1em;
    /*box-shadow:  0 0 5px #CACBD5;*/
    border: none;
    border-radius: 3px;
    /*width: 9em;*/
    height: 40px;
    padding: 0 20px;
}
.call_me_input:hover {
    box-shadow:  0 0 8px #e86c41;
}
.call_me_input:active {
    box-shadow:  0 0 12px #e86c41;
    border: #e86c41 !important;
}
.text-white{
    color:  #fff;
    font-size: 1em;
}


.contact_card {
    /*background-repeat: no-repeat;*/
    /*margin-bottom: 10em;*/
    /*margin-top: 5em;*/
    margin-left:auto;
    margin-right:auto;
    padding: 2em;
    position: relative;
    max-width: 600px;
    /*box-shadow:  0 0 15px #CACBD5;*/
}
.contact_img {
    max-width: 400px;
    /*margin-left: -100px;*/
}


@media screen and (max-width: 600px) {
    .gender-img {
        width: 350px;
        height: 150px;
    }

    .gender-h2 {
        font-size: 28px;
    }

    .big-heading {
        font-size: 25px;
    }

    .search-hide {
        display: none;
    }

    .featured3,
    .featured2 {
        margin-top: 10px;
    }

    .pull-right-karo {
        float: left!important;
    }
    
    .he-res{
      height: 600px;  
    }
}
